body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: white;
  padding: 0px 10px;
  background-color: cornflowerblue;
  border: solid 1px cornflowerblue;
  border-radius: 15px;
}

a:hover {
  color: black;
  border: solid 1px black;
  background-color: white;
}

.start {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}


input {
  text-decoration: none;
  color: black;
  padding: 14px 25px;
  border: solid 1px black;
  background-color: white;
  border-radius: 15px;
  margin: 12px 5px;
  transition: 0.3s;
  width: 200px;
}

input:hover {
  color: black;
  border: solid 1px cornflowerblue;
  border-radius: 0px;
}
input:focus {
  color: black;
  border: solid 1px cornflowerblue;
  border-radius: 0px;
}

.incheckbox {
  border: solid 1px black;
  background-color: white;
  border-radius: 15px;
  transition: 0.3s;
  width: 50px;
}
